body{
    background-color: #000000;
    background-image: url(hero-bg-mobile.webp);
    padding: auto;
    margin: auto;
}
header {
    background-color: #000000;
    color: rgb(159, 2, 250);
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Audiowide;
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #7c7878;
    border-radius: 5px;
}

#box {
    position: relative;
    margin-top: 30px;
    margin-left: 150px;
    background-color: #000000;
    max-width: 500px;
    height: 500px;
    border-radius: 30px;
    animation: shadowAnimation 2s infinite;
}
#boximg {
    margin-top: 30px;
    position: absolute;
    left: 100px;
    animation: shadowAnimation 2s infinite;
}
#boxpara {
    font-size: larger;
    font-weight: 1500;
    line-height: 30px;
    font-family: Sora, sans-serif;
    color: rgb(159, 2, 250);
    position: absolute;
    top: 350px;
    text-align: center;
}

#boxtxt h3{
    color: #f5f5f5;
    text-align: center;
    margin-left: 50px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Unbounded, sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.05;
   
}

@keyframes shadowAnimation {
    0% {
        box-shadow: 0 0 10px 0 rgba(119, 0, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px 10px rgb(174, 6, 252);
    }
    100% {
        box-shadow: 0 0 10px 0 rgba(143, 5, 255, 0.5);
    }
}
#box2{
    position: relative;
    margin-top: 100px;
    margin-left: 600px;
    background-color: #000000;
    max-width: 500px;
    height: 500px;
    border-radius: 30px;
    animation: shadowAnimation 2s infinite;
}
#box2img {
    margin-top: 30px;
    position: absolute;
    left: 100px;
    animation: shadowAnimation 2s infinite;
}
#box2para {
    font-size: larger;
    font-weight: 1500;
    line-height: 30px;
    font-family: Sora, sans-serif;
    color: rgb(159, 2, 250);
    position: absolute;
    top: 350px;
    text-align: center;
}
#box2txt h3{
    color: #f5f5f5;
    text-align: center;
    margin-left: 50px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Unbounded, sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.05;
}
#box3{
    padding-top: 10px;
    position: relative;
    margin-top: 100px;
    margin-left: 150px;
    background-color: #000000;
    max-width: 500px;
    height: 650px;
    border-radius: 30px;
    animation: shadowAnimation 2s infinite;
}
#box3list {
    color:rgb(159, 2, 250); 
    font-size: 25px;
}
footer { 
    margin-top: 100px;
    background: linear-gradient(90deg, #000000, #7015bb,rgb(0, 0, 0));
    color: #fff;
    text-align: center;
    padding: 0 0 20px;
    padding-left: 0px;
    position: relative;
    bottom: 0%;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.footer-content h3 {
    font-family: Audiowide;
    margin-bottom: 10px;
}

.footer-content p {
    margin-bottom: 10px;
}

.footer-content .socials {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content .socials li {
    margin: 0 10px;
}

.footer-content .socials li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.footer-content .socials li a:hover {
    color: #8b5cf6;
}

.footer-bottom {
    background:linear-gradient(90deg, #000000, #7015bb,rgb(0, 0, 0));
    font-size: 14px;
    padding: 10px 0;
}

.footer-content .socials li a img{
    width: 100px;
}
#impapps h3 {
    color: #f5f5f5;
    text-align: center;
    margin-left: 50px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Unbounded, sans-serif;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.05;
}
button {
    padding: 1em 2em;
    background-color: #312a31;
    border: none;
    color: #f0f0f0;
    border-radius: 1000px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: medium;
    position: relative;
    left: 180px;
    top: 280px;
    display: flex;
    justify-content: center;
    align-items: center;

}
button::after{
    content: '';
    position: absolute;
    height: 110%;
    width: 105%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right , #5309ff, #eb0aff);
    z-index: -1;
}
button:hover{
    box-shadow: 40px 0 100px #5309ff, -40px 0 100px #e100ff;
    z-index: 0;
    transition: all 0.5s;
}
#box4 {
    z-index: 1;
    position: relative;
    margin-top: 30px;
    margin-left: 150px;
    background-color: #000000;
    max-width: 500px;
    height: 1000px;
    border-radius: 30px;
    animation: shadowAnimation 2s infinite;
}
#box4 img{
    
    margin-top: 30px;
    position: absolute;
    left: 150px;
    border-radius: 50px;
}

#box4 p{
    font-size: large;
    font-weight: 1500;
    line-height: 30px;
    font-family: Sora, sans-serif;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 320px;
    text-align: center;
}
#box4 h3{
    font-size: medium;
    font-family: Sora, sans-serif;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 220px;
    left: 130px;
}
#box4 ol{    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 420px;
}
#box4 ol li {
    font-weight: bolder;
    line-height: 30px;
}
#box5 {
    z-index: 1;
    position: relative;
    margin-top: 30px;
    margin-left: 700px;
    background-color: #000000;
    max-width: 500px;
    height: 1150px;
    border-radius: 30px;
    animation: shadowAnimation 2s infinite;
}
#box5 img {margin-top: 30px;
position: absolute;
left: 150px;
border-radius: 50px;}

#box5 p{
    font-size: large;
    font-weight: 1500;
    line-height: 30px;
    font-family: Sora, sans-serif;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 320px;
    text-align: center;
}
#box5 h3{
    font-size: medium;
    font-family: Sora, sans-serif;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 220px;
    left: 130px;
}
#box5  ol{    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 420px;
}
#box5 ol li {
    font-weight: bolder;
    line-height: 30px;
}
#box6 {
    z-index: 1;
    position: relative;
    margin-top: 30px;
    margin-left: 150px;
    background-color: #000000;
    max-width: 500px;
    height: 1150px;
    border-radius: 30px;
    animation: shadowAnimation 2s infinite;
}
#box6 img {margin-top: 30px;
    position: absolute;
    left: 90px;
    border-radius: 20px;}
    
    #box6 p{
        font-size: large;
        font-weight: 1500;
        line-height: 30px;
        font-family: Sora, sans-serif;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        top: 320px;
        text-align: center;
    }
    #box6 h3{
        font-size: medium;
        font-family: Sora, sans-serif;
        text-align: center;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        top: 200px;
        left: 130px;
    }
    #box6  ol{   
     -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        top: 520px;
    }
    #box6 ol li {
        font-weight: bolder;
        line-height: 30px;
    }
    #box7 {
        z-index: 1;
        position: relative;
        margin-top: 30px;
        margin-left: 700px;
        background-color: #000000;
        max-width: 500px;
        height: 1100px;
        border-radius: 30px;
        animation: shadowAnimation 2s infinite;
    }
    #box7 img{
        
        margin-top: 30px;
        position: absolute;
        left: 150px;
        border-radius: 50px;
    }
    
    #box7 p{
        font-size: large;
        font-weight: 1500;
        line-height: 30px;
        font-family: Sora, sans-serif;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        top: 320px;
        text-align: center;
    }
    #box7 ol{    -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        top: 520px;
    }
    #box7 h3{
        font-size: medium;
        font-family: Sora, sans-serif;
        text-align: center;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        top: 230px;
        left: 200px;
    }
    #box7 ol li {
        font-weight: bolder;
        line-height: 30px;
    }
    a{
        text-decoration: none;
    }
    #info h3 {
        color: #f5f5f5;
        text-align: center;
        margin-left: 50px;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        font-family: Unbounded, sans-serif;
        font-size: 5rem;
        font-weight: 700;
        line-height: 1.05;
    }
    #box8 {
        position: relative;
        margin-top: 30px;
        margin-left: 200px;
        background-color: #000000;
        max-width: 1000px;
        height: 1800px;
        border-radius: 30px;
        animation: shadowAnimation 2s infinite;
    }
    #box8 h3{
        font-size: xx-large;
        font-family: Unbounded, sans-serif;
        text-align: center;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        top: 20px;
        left: 150px;
        bottom: 20px;
    }
    #box8 p{
        font-size: large;
        font-family: Unbounded, sans-serif;
        text-align: center;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        top: 70px;
        left: 50px;
        right: 50px;
        line-height: 40px;
    }
    #uses h3 {
        color: #f5f5f5;
        text-align: center;
        margin-left: 50px;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        font-family: Unbounded, sans-serif;
        font-size: 5rem;
        font-weight: 700;
        line-height: 1.05;
    }
    #box9 {
        position: relative;
        margin-top: 30px;
        margin-left: 200px;
        background-color: #000000;
        max-width: 1000px;
        height: 2500px;
        border-radius: 30px;
        animation: shadowAnimation 2s infinite;
    }
    #box9 h3{
        font-size: xx-large;
        font-family: Unbounded, sans-serif;
        text-align: center;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        top: 20px;
        left: 50px;
        right: 50px;
        bottom: 20px;}

        #box9 p{
            font-size: large;
            font-family: Unbounded, sans-serif;
            text-align: center;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
            -webkit-background-clip: text;
            background-clip: text;
            position: absolute;
            top: 400px;
            left: 50px;
            right: 50px;
            line-height: 40px;
        }
        #Contact h3{
         color: #f5f5f5;
        text-align: center;
        margin-left: 50px;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        font-family: Unbounded, sans-serif;
        font-size: 5rem;
        font-weight: 700;
        line-height: 1.05;
        }
        #box10 {
            z-index: 1;
            position: relative;
            margin-top: 30px;
            margin-left: 50px;
            margin-right: 50px;
            background-color: #000000;
            max-width: 1300px;
            height: 400px;
            border-radius: 30px;
            animation: shadowAnimation 2s infinite;
        }
        #box10 p{ font-size: large;
            font-family: Unbounded, sans-serif;
            text-align:center;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
            -webkit-background-clip: text;
            background-clip: text;
            position: relative;
            top: 200px;
            left: 50px;
            right: 50px;
            
        }
        #box10 h3 {
            font-size: xx-large;
        font-family: Unbounded, sans-serif;
        text-align: center;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #fff, #8b5cf6 50%, #fff);
        -webkit-background-clip: text;
        background-clip: text;
        position: absolute;
        top: 20px;
        left: 500px;
        bottom: 20px
        }